<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parking Lots</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="menu-bar">
        <div class="menu-icon" onclick="toggleMenu()">&#9776;</div>
        <div class="menu-content">
            <a href="parking-lots.html">Parking Lots</a>
            <a href="parking-lot.html">Parking Lot</a>
            <a href="vehicle-entry.html">Vehicle Entry</a>
            <a href="vehicle-exit.html">Vehicle Exit</a>
            <a href="index.html" onclick="logout()">Logout</a>
        </div>
    </div>
    <br>

    <h1>Parking Lots</h1>
    <select id="parking-lots">
        <option value="">Select a parking lot</option>
    </select>
    <div id="parking-lot-details"></div>
    <div id="slots-container"></div>
    <button id="view-parking-lot">View Parking Lot Details</button>
    <script src="script.js"></script>
</body>
</html>
