<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle Entry</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="menu-bar">
        <div class="menu-icon" onclick="toggleMenu()">&#9776;</div>
        <div class="menu-content">
            <a href="parking-lots.html">Parking Lots</a>
            <a href="parking-lot.html">Parking Lot</a>
            <a href="vehicle-entry.html">Vehicle Entry</a>
            <a href="vehicle-exit.html">Vehicle Exit</a>
            <a href="index.html" onclick="logout()">Logout</a>
        </div>
    </div>
    <br>


    <h1>Vehicle Entry</h1>
    <form id="entry-form">
        <label for="license_plate">License Plate:</label>
        <input type="text" id="license_plate" name="license_plate" required>
        <label for="owner_name">Owner Name:</label>
        <input type="text" id="owner_name" name="owner_name" required>
        <label for="owner_contact">Owner Contact:</label>
        <input type="text" id="owner_contact" name="owner_contact" required>
        <label for="vehicle_type">Vehicle Type:</label>
        <input type="text" id="vehicle_type" name="vehicle_type" required>
        <label for="hourly_rate">Hourly Rate:</label>
        <input type="text" id="hourly_rate" name="hourly_rate" required>
        <button type="submit">Submit</button>
    </form>
    <script src="script.js"></script>
</body>
</html>
