<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle Exit</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="menu-bar">
        <div class="menu-icon" onclick="toggleMenu()">&#9776;</div>
        <div class="menu-content">
            <a href="parking-lots.html">Parking Lots</a>
            <a href="parking-lot.html">Parking Lot</a>
            <a href="vehicle-entry.html">Vehicle Entry</a>
            <a href="vehicle-exit.html">Vehicle Exit</a>
            <a href="index.html" onclick="logout()">Logout</a>
        </div>
    </div>
    <br>

    <h1>Vehicle Exit</h1>
    <form id="exit-form">
        <label for="license_plate">Vehicle ID:</label>
        <input type="text" id="license_plate" name="license_plate" required>
        <button type="submit">Submit</button>
    </form>
    <div id="amount-display"></div>
    <script src="script.js"></script>
</body>
</html>
